Body {
    background-color:#7ade7a;
    
}

.quests {
    margin-bottom: 5px;
    
}
.quests2 {
    margin-top: 10px;

}
.Botão {
    margin-top: 30px;
}
.title {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #7ade7a;
    background-color:black;
}